@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

.navbar-brand {
    font-family: 'Patua One', cursive;
    color: white;
}
.navbar-nav {
    list-style-type: none;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    padding-top: 15px;
}

body { 
    background: url('../images/tonight-alive-music-concert.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Noto Sans', cursive;
}

h1 {
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 600%;
    padding-top: 5%;
    padding-left: 3%;
}

.stroke {
    color: black;
    -webkit-text-fill-color: rgba(0,0,0,.4);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #eb0450;
    text-shadow: 6px 6px 18px #FFFFFF;
    padding-top: 10%;
}

.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    padding: 10px;
}

#search {
    width: 60%;
    padding: 10px;
    padding-left: 2%;
}

.btn {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-size: 14px;
}