@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

.navbar-brand {
    font-family: 'Patua One', cursive;
    color: white;
}
.navbar-nav {
    list-style-type: none;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    padding-top: 15px;
}

h1 {
    font-family: 'Patua One', cursive;
    color: black;
    z-index: 3;
    position: absolute;
    font-size: 400%;
    padding-top: 5%;
    padding-left: 3%;
}

.stroke {
    color: white;
    -webkit-text-fill-color: rgba(0,0,225,0);
    -webkit-text-stroke-width: .01px;
    -webkit-text-stroke-color: white;
}

body { 
    background: url('../images/tonight-alive-music-concert.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15%;
}

#search {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}