@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

.navbar-brand {
    font-family: 'Patua One', cursive;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    background-image: url('../images/tonight-alive-music-concert.jpg');
}

h1 {
    font-family: 'Patua One', cursive;
}