@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

.navbar-brand {
    font-family: 'Patua One', cursive;
    color: black;
}
.navbar-nav {
    list-style-type: none;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    padding-top: 15px;
}

.container {
    font-family: 'Noto Sans', cursive;
    padding-top: 8%;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.user {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#map {
    height: 600px;
    margin-top: 20px;
}

.concert {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    width: 40%;
}