@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

.navbar-brand {
    font-family: 'Patua One', cursive;
    color: white;
}
.navbar-nav {
    list-style-type: none;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    padding-top: 15px;
}

body {
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: 'Noto Sans SC', sans-serif;
}

h1 {
    font-family: 'Patua One', cursive;
    color: white;
    font-size: 400%;
    padding-top: 5%;
    padding-left: 3%;
}

.card-deck {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    height: 600px;

}

.card-body {
    background-color: rgba(0,0,0,.4);
    display: table-cell;
}